#!/bin/bash
# Copy the important data from a S3 bucket
# Download the data
s3cmd get s3://{{ bucket_name }}/{{ calibrator_name }}/npy/*.npy /mnt/scratch/data/cal/{{ pipeline_name }}

#freqs_for_amplitude_array.npy
#caldata_transfer_amplitude_array.npy
#fitted_data_dclock_caldata_transfer_1st.npy
#freqs_for_phase_array.npy
#caldata_transfer_phase_array.npy
